<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Volvo- Interview</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
	body {margin:25px;padding:0}
	</style>
</head>
<body>
	
<div class="row">

  <div class="col-md-7 text-right">
	<img src="assets\logo.png">     
    
  </div>
  <div class="col-md-4 text-right">
	    
    <p style="text-align:right"><b>Interview - Technical Test</b><br> 
	Viswanathan.M<br>
	mviswa@gmail.com
	</p>
	
  </div>
</div>
<br>
<nav id="NavBar">
	<!-- Brand sand toggle get grouped for better mobile display-->
	<div class="container">
		
		<!-- Collect the nav links1, forms, and other content for toggling -->
		<div>
			<ul class="nav navbar-nav">
				<li><a routerLink="/uc" >Users</a></li>
				<li class="active"><a routerLink="/add" >Add</a></li>
			</ul>
		</div>
	</div>
</nav>
<div>
	
		<router-outlet></router-outlet>
	
	<hr>
<div class="row">
	<div class="col-md-12">
		<footer>
			<p> </p>
		</footer>
	</div>
</div>
</div>
</body>
</html>