<div class="row">
  <div class="col-md-6">
    <br>
<h4><b>List of Users</b></h4>
</div>
<div class="col-md-6 text-right">
  <p></p>
 
   
  
  <!-- (click) passes input value to add() and then clears the input 
  <button (click)="add(heroName.value); heroName.value=''">-->
    <div id="search-component">
   <label>Search by Name:</label>

  <input #searchBox id="search-box" [(ngModel)]='sname' (keyup)="search(searchBox.value)" />
  <button class="delete" title="delete hero" class="btn btn-primary" (click)="clear()">Clear</button>
<div *ngIf="bSearchBox">
  <ul class="search-result pull-right">
    <li *ngFor="let hero of heroes$ | async" (click)="listClick($event, hero)">
        {{hero.name}}
      
    </li>
  </ul>
  </div>   
</div>   
</div>
  </div>

<!-- <ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li> 
</ul> -->
<br>
<p-dataTable [value]="users" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
    <p-header>List of Users</p-header>
    <p-column field="id" header="Id"></p-column>
    <p-column field="name" header="Name"></p-column>
    <p-column field="surname" header="Surname"></p-column>
    <p-column field="birthDate" header="Birthdate"></p-column>
    <p-column field="phone" header="Phone"></p-column>
    <p-column field="city" header="City"></p-column>
    <p-column field="street" header="Street"></p-column>
    <p-column field="number" header="Number"></p-column>
    <p-column>
      
    <ng-template let-delUser="rowData" pTemplate="paginatorLeft">
        <button class="delete" title="delete hero" class="btn btn-primary" (click)="delete(delUser)">Delete</button>
    </ng-template>
    </p-column>
    <p-column>
    <ng-template let-user="rowData" pTemplate="paginatorLeft">
        <button class="delete" title="delete hero" class="btn btn-primary" (click)="edit(user)">Edit</button>
    </ng-template>
    </p-column>
    <ng-template pTemplate="paginatorRight">
        
    </ng-template>
</p-dataTable>
