<div>
  <form [formGroup]="editForm" novalidate>
  <h2>Add User</h2> 
  <div class="row"> 
  <table class="table" class="col-md-8">
    
    <tbody>
      <tr>
        <td class="labelBg">ID</td>
        <td > <input class="form-control"  formControlName="id">
</td>
      </tr>
      <tr>
        <td class="labelBg">Name</td>
        <td> <input class="form-control"  formControlName="name">
</td>
      </tr>
      <tr>
        <td class="labelBg">Surname</td>
        <td> <input class="form-control"  formControlName="surname">
        </td>
      </tr>
      <tr>
        <td class="labelBg">BirthDate</td>
        <td> <input class="form-control"  formControlName="birthdate">
        </td>
      </tr>
      <tr>
        <td class="labelBg">Phone</td>
        <td> <input class="form-control" formControlName="phone">
        </td>
      </tr>
      <tr>
        <td class="labelBg">City</td>
        <td> <input class="form-control"  formControlName="city">
        </td>
      </tr>
      <tr>
        <td class="labelBg">Street</td>
        <td> <input class="form-control"  formControlName="street">
        </td>
      </tr>
      <tr>
        <td class="labelBg">Number</td>
        <td> <input class="form-control"   formControlName="number">
        </td>
      </tr>
      <tr></tr>
     
    </tbody>
    
  </table>
  </div>
  <br>
  <div class="row">
      <div class="col-md-4"></div>
        <div class="col-md-4">
<button type="button" class="btn" (click)="add()">Update</button>
</div>
</div>
  </form>
</div>